<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">

   <!-- Icons -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
   <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>


  <link rel="stylesheet" href="../static/css/styles.css">
  <title>Interview Creation Portal</title>
</head>

<body>
  <div class="container">
    <h1>Interview Creation Portal</h1>



    <section class="add-interview">

      <h3>Schedule Interview</h3>

        {%  if messages %}
          {% for message in messages %}
            <div class="interview-status {{ message.tags }}">{{message}} &nbsp; <i id="close-msg" onclick="closeMsg()" class="far fa-times-circle"></i> </div>
          {% endfor %}
        {% endif %}

      <form action="../myapp/" method="POST" class="form"> 
        {% csrf_token %}

        <div class="input-fields">
        <div class="input-field">
          <label for="cars">Interviewee</label>
          <select id="list" name = "list"  multiple = "multiple">
            
            {% if selected == "deepshisharma123@gmail.com" %}
                  <option value="{{email1}}" selected>{{email1}}</option>
            {% else %}  
                                
            <option value="{{email1}}"  >{{email1}}</option>  
            {% endif%}
            {% if selected == "kamya069mca20@igdtuw.ac.in" %}
                  <option value="{{email2}}" selected>{{email2}}</option>
            {% else %}                      
            <option value="{{email2}}"  >{{email2}}</option>  
            {% endif%}
            {% if selected == "kamyap07@gmail.com" %}
                  <option value="{{email3}}" selected>{{email3}}</option>
            {% else %}                      
            <option value="{{email3}}"  >{{email3}}</option> 
            {% endif%}
            {% if selected == "kamyap2000@gmail.com" %}
                  <option value="{{email4}}" selected>{{email4}}</option>
            {% else %}                      
            <option value="{{email4}}"  >{{email4}}</option> 
            {% endif%}
            {% if selected == "kushagra98@live.com" %}
                  <option value="{{email5}}" selected>{{email5}}</option>
            {% else %}                      
            <option value="{{email5}}"  >{{email5}}</option>
            {% endif%}
            
          </select><br> <p style="color:blue;"> *Hold Ctrl to select multiple option</p>
        </div>

        <div class="input-field">
          <label for=""  >Start Time</label>
          <input type="datetime-local"  min="2021-11-01T08:30" name = "start_Time"  value = "{{start_time}}">
        </div>

        <div class="input-field">
          <label for="" >End Time</label>
          <input type="datetime-local" name = "end_Time" value = "{{end_time}}">
        </div>

      </div>

      
      {% if show_update_button == "1" %}
      
        <button class="btn" type="submit" title="Update interview" >Update INTERVIEW</button>
        <input type= "hidden" id = "button_value_update"  name = "button_value_update" value = "update_interview"> 
       <input type= "hidden" id = "interview_id_update"  name = "interview_id_update"value = "{{id}}">
      
      {%else%}
      
        <button class="btn" type="submit" title="Add interview" >ADD INTERVIEW</button>
        <input type= "hidden" id = "button_value_add"  name = "button_value_add" value = "add_interview"> 
      
      {%endif%}
      </form>

    </section>

  <hr>
    <section class="interview-list">
      <h3>Upcoming Interview</h3>

      <table class="table">
        <tr>
          <th>Interviewee</th>
          <th>Email</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Actions</th>
        </tr>
        {%for name,email, start_time, end_time,id in records%}
        <tr>
          <td>{{name}}</td>
          <td>{{email}}</td>
          <td>{{start_time}}</td>
          <td>{{end_time}}</td>
          <td>
            <div class="actions">
            <form action = "../myapp/" method="POST"> 
            {% csrf_token %}   
            <button  type = "submit"  title="Delete Form">Delete</button>                
              <input type= "hidden" id = "button_value"  name = "button_value"value = "delete">
              <input type= "hidden" id = "interview_id"  name = "interview_id"value = "{{id}}">
          
              <button type="submit" title="Edit Form" value = "edit">Edit</button>
              <input type= "hidden" id = "button_value_edit"  name = "button_value_edit"value = "edit">
              <input type= "hidden" id = "interview_id_edit"  name = "interview_id_edit"value = "{{id}}">

            </form> 

            </div>
          </td>
        </tr>
        {%endfor%}


      </table>
    </section>

  </div>
  <script>
    function closeMsg(){
    const parentCont = document.getElementById("close-msg").parentElement;
    parentCont.classList.add("hide");
  }
  </script>

</body>
</html>