:root {
    --color-light-yellow: #fbd341;
    --color-yellow: #EFA21E;
  
    --color-red-notification: #F84F31;
    --color-green-notification: #23c552;
  
    --color-sidebar: #022E57;
    --color-sidebar-content: #80571e;
  
    --color-grey-pink: #f7f6e7;
    --color-grey: #f7f7f7;
    --color-dark-grey: #dfe0df;
  
    --color-shadow: rgba(0, 0, 0, 0.2); 
  }
.center {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}
h1{
  text-align: center;
}  
.credentials-status{
    font-size: 1.5rem;
    padding: 1rem;
    position: relative;
    bottom: 4rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    
    border-radius: .5rem;
  }
  
  
  .success{
    background-color: var(--color-green-notification);
  }
  
  .error{
    background-color: var(--color-red-notification);
  }
  